*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.formbox{
background-color: rgba(255,255,255,0.4);
backdrop-filter: blur (40px);
padding: 30px 40px;
width: 50%;
border-radius: 20px;
}



form .inputgroup  label{
    color: rgb(0, 0, 0);
    font-size: small;
    display: block;
    font-weight: 600;
    margin-left: 12px;
    padding: 8px;
}

form .inputgroup input{
  width: 80%;
  height: 35px;
  background-color: rgba(255,255,255,0.32);
  border: 2px solid transparent;
  border-radius: 9px;
  padding: 20px;
  font-size: 12px;
  color:#616161;
  transition:all 0.8s ease;

}

form .inputgroup input:focus{
    border-color: #ff008a;
}

form .inputgroup #date{
    width: 150px;
}

form .inputgroup select{
    width: 100px;
    height: 25px;
    background-color: rgba(255,255,255,0.32);
  border: 2px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  color:#616161;
  transition:all 0.8s ease;
}

.senha{
    width: 55%;
}

form .button button{
    width: 80px;
    height: 37px;
    background-color: #e01ba2;
    border-radius: 15px;
    border:none;
    color:rgb(243, 240, 240);
    cursor:pointer;
    font-size:12px;
    font-weight: 600;
    letter-spacing: 1px;
}

 
    /*Responsive */
    
    @media(max-width:700px){
        .formbox{
            width: 80%;
            border-radius: 20px;
        }

form .inputgroup input{
    width: 80%;
}
        .senha{
            width: 80%;
            padding:0;
        }
      
    }

  